{% if page.footer %}
    <section class="front container-fluid footer yellow whitea page-wrapper">
        <div class="container">
            <div class="row">
                <h3 class="typo-footer">Typo-Talk, Photo-Philosophie, oder einfach nur Geek-Gequatsche</h3>
            </div>

            <div class="row">
                {{ page.footer }}

            </div>

        </div>
    </section>
{% endif %}

<section class="front container-fluid footer grey">
    <div class="container">
        <div class="row">
            <div class="social">
                <!-- <h5>Visit us:</h5>
         <a href="https://twitter.com/_michaelknoch" target="_blank">
             <img src="{{ directory }}/img/twitter.png">
         </a>
         <a href="https://github.com/michaelknoch" target="_blank">
             <img src="{{ directory }}/img/github.png">
         </a> -->
            </div>

            <div class="col-xs-12 col-sm-5">
                <p>© 2016 mica-design GbR</p>
            </div>

            <div class="col-xs-12 col-sm-7">
                <ul class="footer-menu">

                    <li>
                        <a href="https://github.com/michaelknoch" target="_blank">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/_michaelknoch" target="_blank">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://plus.google.com/102479342598203389047"
                           rel="publisher">Google+</a>
                    </li>
                    <li>
                        <a href="/impressum">Impressum</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

